<!DOCTYPE html>
<html>

  {% include head.html %}
  <script id="init" type="text/x-cindyscript">
        use("Cindy3D");
        use("CindyXR");
        initxrcindy3d(referencemode->"local");

        <script type="text/javascript">
        CindyJS({canvasname:"CSCanvas",scripts:"@{{ content }}"});
  </script>

  <body>

  	<div class="hero bg-blue">&nbsp;</div>

  	{% include header.html %}

    <div class="post container max-width-2 px2">
    	<h1>{{ page.title }}</h1>
        <canvas id="Cindy3D" style="border: none;" width="632" height="452"></canvas>
        <div id="CSCanvas" style="width:50px; height:50px; border:none"></div>
        <p class="meta bg-darken-1 p2 mb4">Posted by <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a> on {{ page.date | date: "%b %e, %Y"}}</p>
    </div>



  {% include footer.html %}

  </body>

</html>
