---
layout: default
---
  <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ page.title }}</h1>

  <script id="init" type="text/x-cindyscript">
        use("Cindy3D");
        use("CindyXR");
        initxrcindy3d(refetestrencemode->"local");

        <script type="text/javascript">
        CindyJS({canvasname:"CSCanvas",scripts:"{{ page.script }}"});
  </script>
  <canvas id="Cindy3D" style="border: 1px;" width="632" height="452"></canvas>
  <div id="CSCanvas" style="width:50px; height:50px; border:none"></div>

